.CreateQuestion {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid rgba(58, 131, 204,0.5);
    box-shadow: 0px 0px 5px 3px  rgba(0, 0, 0, .05);
    border-radius: 5px
}
.CreateQuestion button { 
    color: white !important;
    font-size: 1.2rem !important;
    margin: 15px auto !important;
}