.Question { 
    display: flex;
}
.SelectInput { 
    margin: 1.9rem auto;
}
.QuestionContainer { 
    padding: 10px 10px;
}
.Answer { 
    padding: 0 10%;
}
.Question .BigText { 
    font-size: 25px;
}