@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,800);
.logo {
  margin-top: 15px;
  margin-left: 15px;
  color: rgb(92, 101, 156);
  /* float: left; */
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
}

ul {
     background-color: #d4d1d1;
    list-style: none;
    padding-top: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 4rem;
    box-shadow: 0px 5px 5px #d4d1d167;
    font-size: 18px;

}
li {
  float: left;
  display: contents;
  text-decoration: none;
}
a {
  background-color: #f1f1f1;
  text-align: center;
  padding: 11px 10px 14px 10px;
  margin: 0 10px;
  border-radius: 5px;
  text-decoration: none;
}
.active {
  background-color: rgb(53, 53, 53);
  text-decoration: none;    
}
li a:hover:not(.active) {
  background-color: #111;
  padding: 11px 10px 14px 10px;
  border-radius: 5px;
  text-decoration: none;
}
li a:hover{
    text-decoration: none;
}
.btn{
    background-color: transparent;
}
