.md-form {
  margin: 1.2rem 25px !important;
}
.btn,
.btn.btn-secondary,
.btn.btn-default {
  background-color: #553C8B  !important;
}
.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]),
.md-form input[type="email"]:focus:not([readonly]),
.md-form input[type="url"]:focus:not([readonly]),
.md-form input[type="time"]:focus:not([readonly]),
.md-form input[type="date"]:focus:not([readonly]),
.md-form input[type="datetime-local"]:focus:not([readonly]),
.md-form input[type="tel"]:focus:not([readonly]),
.md-form input[type="number"]:focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form input[type="search"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #553C8B !important;
  border-bottom: 1px solid #553C8B !important;
}
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value  { 
    color: #553C8B !important;
}
.rs-picker-subtle .rs-picker-toggle.rs-btn-focus, .rs-picker-subtle .rs-picker-toggle:focus, .rs-picker-subtle .rs-picker-toggle:hover,.rs-picker-subtle .rs-picker-toggle.active { 
    background-color: rgba(0,0,0,0.1) !important
}