.SurveyBuilder { 
    padding: 20px 10%;
}
select { 
    border: 0;
    border-bottom: 1px solid #ced4da;
    background-color: #F1F1F1;
    margin: 0.3rem 0 0.55rem 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}
select:focus { 
    outline-color: transparent;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4;

}
.CreateQuestion {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid rgba(58, 131, 204,0.5);
    box-shadow: 0px 0px 5px 3px  rgba(0, 0, 0, .05);
    border-radius: 5px
}
.CreateQuestion button { 
    color: white !important;
    font-size: 1.2rem !important;
    margin: 15px auto !important;
}
.sideOpened { 
    margin: 25px auto
}

.MenuWrap a {
	color: #b8b7ad;
}

.MenuWrap a:hover,
.MenuWrap a:focus {
	color: #c94e50;
}

/* Menu Button */
.MenuButton {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.MenuButton::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.MenuButton:hover {
	opacity: 0.6;
}

/* Close Button */
.CloseButton {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.CloseButton::before,
.CloseButton::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.CloseButton::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.CloseButton::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.MenuWrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.Menu, 
.IconList {
	height: 100%;
}

.IconList {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.IconList a {
	display: block;
	padding: 0.8em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.IconList,
.IconList a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.IconList a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.IconList a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.IconList a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.IconList a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.IconList a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.IconList a span {
	margin-left: 10px;
	font-weight: 700;
}

/* Shown menu */
.ShowMenu .MenuWrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ShowMenu .IconList,
.ShowMenu .IconList a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ShowMenu .IconList a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.ShowMenu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}